div {
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(23, 202, 68);

}

body {
    background-color: rgb(61, 99, 61));
}

h1 {
    color: red;
}